<!-- app/views/home/about.html.erb -->
<h1>About</h1>
<p>Details about the General Data Protection Regulation (GDPR) and other relevant information.</p>
<!-- Make sure 'Lorem', 'lorem', and 'ipsum' are not present. -->

